.text-rainbow-animation {
    font-family:arial black;
     background-image: 
      linear-gradient(to right, blue,indigo,yellow); 
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 105s linear infinite;
  }
  
  @keyframes rainbow-animation {
      to {
          background-position: 4500vh;
 
      }
  }